# ArgoCD Helm values.yaml

global:
  domain: argocd.local

configs:
  params:
    server.insecure: true

server:
  enabled: true
  replicaCount: 2
  extraArgs:
    - --insecure
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
    name: argocd-server
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    hostname: argocd.local
    tls: false
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi



repoServer:
  enabled: true
  replicaCount: 1
  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 10
    successThreshold: 1
  readinessProbe:
    initialDelaySeconds: 15
    periodSeconds: 15
    timeoutSeconds: 10
    failureThreshold: 10
    successThreshold: 1
  env:
    - name: ARGOCD_EXEC_TIMEOUT
      value: "3m"
  resources:
    limits:
      cpu: 2000m
      memory: 2048Mi
    requests:
      cpu: 500m
      memory: 512Mi


applicationController:
  enabled: true
  replicaCount: 2
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi


redis:
  enabled: true
  replicaCount: 1
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
