apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-address-pool
  namespace: metallb-system 
spec:
  addresses:
    - 192.168.1.20-192.168.1.40
  # autoAssign: true # Uncomment to enable automatic assignment
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advertisement
  namespace: metallb-system
spec:
  # interfaces: ["eth0"] # Uncomment and set if you want to restrict advertisement to specific interfaces